<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--登录模块-->
    <bean id="loginAction" class="com.zker.action.login.LoginAction" scope="prototype">
        <property name="loginService" ref="loginService" />
        <property name="productSortService" ref="productSortService" />
    </bean>

    <!--职位模块-->
    <bean id="jobAction" class="com.zker.action.job.JobAction" scope="prototype">
        <property name="jobService" ref="jobService" />
    </bean>

    <!--用户模块-->
    <bean id="userAction" class="com.zker.action.user.UserAction" scope="prototype">
        <property name="userService" ref="userService" />
        <property name="productSortService" ref="productSortService" />
        <property name="jobService" ref="jobService" />

    </bean>

</beans>