/Projects/SpringMVC+MyBatis/BookStore/target/*
/Projects/SpringMVC+MyBatis/BookStore/out/*
/Projects/SpringMVC+MyBatis/BookStore/etc/sources/*

/Projects/Struts+Spring+Hibernate/PictureFriend/target/*
/Projects/Struts+Spring+Hibernate/PictureFriend/out/*

/Demo/how_to_use_springAOP_basic/AOPdemo/target/*
/Demo/how_to_use_springAOP_basic/AOPdemo/out/*

/Demo/designPattern/hf4d/target/*
/Demo/designPattern/hf4d/out/*

