<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        >
    
    <context:component-scan base-package="com.atguigu.bk.controller" />
    <!--hint: 如果不采用注解方式，则对于地址映射需要在此以bean的形式进行配置-->

    <!--视图解析器-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views"></property>
    </bean>

    <!--文件解析器-->
    <!--hint：为了能够保证spring能解析上传的文件-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="102400" /><!--最大上传量为100k-->
    </bean>

    <!--异常解析器-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!--hint：出现异常未处理，会存到exception中，跳转到相应页面。可以在error.jsp中使用${exception.message}取出-->
                <!--捕获所有异常，Throwable，意味着就算代码部分我们没有catch异常，这个异常解析器也会处理-->
                <prop key="java.lang.Throwable">/error.jsp</prop>

                <!--捕获特定异常，内容超出范围异常的对应跳转-->
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">/error/OverMaxUploadSize.jsp</prop>
            </props>
        </property>
    </bean>


</beans>