<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStore</display-name>

    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.atguigu.bk.filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    
  <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.atguigu.bk.filter.CharacterEncodingFilter</filter-class> 
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>      
   </filter>   
   <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>  
  
   <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.atguigu.bk.filter.AuthFilter</filter-class>       
   </filter>   
   <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/back/*</url-pattern>
    </filter-mapping>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.LoginSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.MainSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookPicSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.BookPicSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.LogoutSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookDetailSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.BookDetailSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopCarSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.ShopCarSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopCarAddSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.ShopCarAddSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckoutSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.CheckoutSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayMoneySvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.PayMoneySvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BookAddSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.back.BookAddSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyRecordSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.back.BuyRecordSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterSvl</servlet-name>
    <servlet-class>com.atguigu.bk.controller.RegisterSvl</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainSvl</servlet-name>
    <url-pattern>/MainSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookPicSvl</servlet-name>
    <url-pattern>/BookPicSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutSvl</servlet-name>
    <url-pattern>/LogoutSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookDetailSvl</servlet-name>
    <url-pattern>/BookDetailSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCarSvl</servlet-name>
    <url-pattern>/ShopCarSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCarAddSvl</servlet-name>
    <url-pattern>/ShopCarAddSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckoutSvl</servlet-name>
    <url-pattern>/CheckoutSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayMoneySvl</servlet-name>
    <url-pattern>/PayMoneySvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookAddSvl</servlet-name>
    <url-pattern>/back/BookAddSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyRecordSvl</servlet-name>
    <url-pattern>/back/BuyRecordSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterSvl</servlet-name>
    <url-pattern>/RegisterSvl</url-pattern>
  </servlet-mapping>

    <!-- springMVC的前端控制DispatcherServlet -->
    <servlet>
        <servlet-name>CoreDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <!--hint: Tomcat启动后实例化DispatcherServlet，然后传入参数到contextConfigLocation-->
    </servlet>
    <servlet-mapping>
        <servlet-name>CoreDispatcherServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
        <!--hint: .do后缀结尾的请求会到DispatcherServlet-->
    </servlet-mapping>
    
  <welcome-file-list>
    <welcome-file>MainSvl</welcome-file>   
  </welcome-file-list>
</web-app>